<% layout('layouts/boilerplate')%>

<div class="container d-flex justify-content-start align-items-center mt-5">
    <div class="row">
        <div class="col-md-12 offset-md-3 col-xl-10 ">
            <div class="card shadow">
                <img src="https://images.unsplash.com/photo-1637713387970-e0ffa225977b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80"
                    alt="" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Login</h5>
                    <form action="/logout?_method=DELETE" method="POST" class="needs-validation" novalidate>
                        <div class="mb-3">
                 
                            <input class="form-control" type="hidden" type="text" id="username" value="logout" name="email" autofocus required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>

                        
                        <button  class="btn btn-warning btn-block">Logout</button>
                    </form>

                  
                </div>
            </div>
        </div>
        <script>
//             function addToken() {
//                 window.localStorage.setItem('x-auth-token', response.data.token);
//                 window.localStorage.setItem('x-auth-refreshToken', response.data.refreshToken)
//                 http.post('/login').then(response => {
//                     window.localStorage.setItem('x-auth-token', response.data.token)
//                 }
//   );
//             }

        </script>
    </div>
</div>